.main{

    /* width: 1130px; */
    height: 594px;

    margin: 120px 155px 0 155px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    color: #FFFFFF;

    width: 965px;
    height: 50px;

    margin-bottom: 44px;
    align-self: flex-start;
}


.box-first{


width: 1130px;
margin-top: 32px;
display: flex;
justify-content: space-between;
}

.box-second{
width: 1130px;
margin-top: 32px;
display: flex;
justify-content: space-between;
}

.box-third{
 width: 1130px;
 margin-top: 32px;
 display: flex;
 align-self: flex-start;
}

.hr{
    width: 1130px;
    height: 5px;
    color: #2D2D2D;
    border-top: 1px solid #2D2D2D;
}



@media (max-width: 1140px) and (min-width: 890px){

    .main{
        background-color: red;
        width: 1140px;
        /* height: 1122px; */
        margin: 120px 0 160px 0;

    }


    .box{
        display: flex;
        flex-direction: column;

    }

    .box-first{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .box-second{
        display: flex;
        flex-direction: column;
    }

    .box-third{
        display: flex;
        flex-direction: column;
    }
}





















@media (max-width: 390px) {

    body{
        width: 390px;
        margin: 0 auto;
    }

    .main{
        width: 350px;
        margin: 120px 20px 128px 20px;

        display: flex;
        flex-direction: column;

    }

    .hr{
        width: 350px;
    }

    .title{
        width: 350px;
        font-size: 31px;
        line-height: 36.3px;

    }

    .frame{
        margin-bottom: 32px;
    }

    .box{
        display: flex;
        flex-direction: column;
    }

    .box-first{
        display: flex;
        flex-direction: column;
        width: 349px;
    }

    .box-second{
        display: flex;
        flex-direction: column;
        width: 349px;

    }

    .box-third{
        display: flex;
        flex-direction: column;
        width: 349px;

    }

    .bottom{
        width: 390px;
    }
}